@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Epilogue:wght@100&family=Lato:ital,wght@0,400;0,700;0,900;1,700&family=Public+Sans:ital,wght@0,300;0,700;1,400&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 10vh 13vw;
  background-color: hsl(217deg, 100%, 97%);
  overflow: hidden;
}

.App {
  display: flex;
  padding: 3vh 1.5vw;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1.5vw;
}
.App .side {
  width: 25vw;
  height: 75vh;
  background: url("./Components/images/bg-sidebar-desktop.svg");
  padding: 6vh 3vw;
  background-size: cover;
  margin-right: 8vw;
  width: 20vw;
  border-radius: 2vw;
}
.App .side .number {
  display: flex;
  margin-bottom: 3.5vh;
}
.App .side .number .active {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  color: white;
  text-align: center;
  margin-right: 1.2vw;
  transition: all 0.5s ease-in;
  padding-top: 5px;
}
.App .side .number .aside {
  color: white;
}
.App .side .number .aside .small {
  color: hsl(229deg, 24%, 87%);
  font-size: small;
  margin-bottom: 0.5vh;
}
.App .home {
  display: flex;
  flex-direction: column;
  margin-right: 4vw;
  height: inherit;
  position: relative;
  margin-top: 5vh;
}
.App .home .hidden {
  display: hidden;
}
.App .home h1 {
  margin-bottom: 2vh;
}
.App .home p {
  font-size: 17px;
  color: grey;
  font-weight: 400;
}
.App .home section {
  display: flex;
  margin-top: 4vh;
  flex-direction: column;
  position: relative;
}
.App .home section input {
  border-radius: 0.8vw;
  margin-top: 1.5vh;
  outline: none;
  font-weight: 500;
  height: 6.5vh;
  font-size: 16px;
  padding: 0 1vw;
  border: 1px solid grey;
}
.App .home section span {
  position: absolute;
  color: red;
  font-size: medium;
  font-weight: 500;
  display: none;
  right: 2vw;
  transition: dispplay 2.8s ease-in;
}
.App .home section label {
  font-weight: 500;
  font-size: medium;
}
.App .home button {
  position: absolute;
  bottom: 3vh;
  right: 0.5vw;
  padding: 2vh 4vw;
  color: white;
  background-color: hsl(213deg, 96%, 18%);
  border-radius: 0.5vw;
  border: none;
  cursor: pointer;
}
.App .home button:hover {
  opacity: 0.6;
}

.Select-plan {
  padding-top: 5vh;
}
.Select-plan h1 {
  margin-bottom: 2vh;
}
.Select-plan p {
  color: grey;
  margin-bottom: 6vh;
}
.Select-plan main {
  display: flex;
}
.Select-plan main .option {
  display: flex;
  flex-direction: column;
  min-height: 25vh;
  margin-right: 2vw;
  border-radius: 1vw;
  width: 11.5vw;
  border: 1px solid hsl(220deg, 8%, 85%);
  transition: all 0.4s ease-in;
  cursor: pointer;
}
.Select-plan main .option img {
  margin-left: 0.5vw;
  -o-object-fit: contain;
     object-fit: contain;
  width: 4.5vw;
  height: 6vh;
  margin-top: 2vh;
  pointer-events: none;
}
.Select-plan main .option .big-text {
  margin-top: 6vh;
  font-weight: 700;
  font-size: 18px;
  color: hsl(213deg, 96%, 18%);
  margin-bottom: 1vh;
  pointer-events: none;
}
.Select-plan main .option span {
  margin-left: 1vw;
  margin-bottom: 1vh;
  color: hsl(231deg, 11%, 63%);
  pointer-events: none;
}
.Select-plan main .option .last {
  font-size: small;
  color: hsl(213deg, 96%, 18%);
  font-weight: 700;
}
.Select-plan main .option:hover {
  border: 1px solid hsl(228deg, 100%, 84%);
}
.Select-plan section {
  display: flex;
  width: 39vw;
  margin-top: 4vh;
  padding-top: 1.8vh;
  border-radius: 0.6vw;
  height: 7vh;
  background-color: hsl(231deg, 100%, 99%);
}
.Select-plan section .switch {
  cursor: pointer;
  width: 5vw;
  height: 4vh;
  border-radius: 2vw;
  margin-left: 1.2vw;
  margin-right: 1.2vw;
  background-color: hsl(213deg, 96%, 18%);
  padding: 0.65vh 0.4vw;
}
.Select-plan section .switch p {
  width: 20px;
  height: 20px;
  background-color: white;
  z-index: 1;
  float: left;
  border-radius: 50%;
  transition: float 1s ease-in;
}
.Select-plan section .left {
  margin-top: 0.6vh;
  font-weight: 700;
  margin-left: 10vw;
}
.Select-plan section .right {
  margin-top: 0.6vh;
}
.Select-plan footer {
  margin-top: 12vh;
}
.Select-plan footer .back {
  text-decoration: none;
  color: hsl(231deg, 11%, 63%);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.Select-plan footer .next {
  float: right;
  background-color: hsl(213deg, 96%, 18%);
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding: 2vh 2vw;
  border-radius: 0.7vw;
  cursor: pointer;
}
.Select-plan footer .button:hover {
  opacity: 0.67;
}

.add-ons {
  padding-top: 5vh;
  position: relative;
  width: 35vw;
}
.add-ons h2 {
  font-weight: 600;
}
.add-ons p {
  color: grey;
  margin-top: 1.5vh;
}
.add-ons section {
  margin-top: 4vh;
}
.add-ons section div {
  border: 1px solid hsl(217deg, 100%, 97%);
  margin-bottom: 2vh;
  position: relative;
  min-height: 10.5vh;
  border-radius: 0.8vw;
  padding-top: 3.1vh;
  cursor: pointer;
  transition: background-color 0.5s ease-in, border 0.5s ease-in;
  padding-left: 5.5vw;
}
.add-ons section div .marker {
  width: 25px;
  position: absolute;
  cursor: pointer;
  left: 1.3vw;
  top: 3.8vh;
  justify-content: center;
  height: 25px;
  border: 1px solid hsl(217deg, 100%, 97%);
  transition: background-color 0.5s ease;
  border-radius: 0.3vw;
}
.add-ons section div .marker img {
  transform: translate(0.42vw, 0.3vh);
  pointer-events: none;
}
.add-ons section div p {
  margin-top: 0;
}
.add-ons section div .float {
  position: absolute;
  right: 2vw;
  top: 4vh;
  color: hsl(243deg, 100%, 62%);
  font-size: 17px;
}
.add-ons footer {
  margin-top: 12vh;
}
.add-ons footer .back {
  text-decoration: none;
  color: hsl(231deg, 11%, 63%);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.add-ons footer .next {
  float: right;
  background-color: hsl(213deg, 96%, 18%);
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding: 2vh 2vw;
  border-radius: 0.7vw;
  cursor: pointer;
}
.add-ons footer .button:hover {
  opacity: 0.67;
}

.summary {
  margin-top: 6.3vh;
  width: 36vw;
}
.summary h1 {
  margin-bottom: 1.5vh;
}
.summary p {
  color: grey;
  font-size: 16px;
}
.summary main {
  margin-top: 4vh;
  border-radius: 1.5vw;
  min-height: 30vh;
  padding: 3vh 2vw;
  background-color: hsl(231deg, 100%, 99%);
}
.summary main section .pricing {
  color: black;
  font-size: 16px;
  margin-bottom: 1.3vh;
  font-weight: 600;
}
.summary main section .pricing span {
  margin-left: 0.3vw;
}
.summary main section .floater {
  float: right;
  position: relative;
  bottom: 2vh;
  font-size: 16px;
  font-weight: 600;
}
.summary main section .link {
  margin-left: 0.4vw;
  color: hsl(228deg, 100%, 84%);
}
.summary main section .list {
  margin-top: 2.5vh;
}
.summary main section .list .right {
  float: right;
  font-size: 14px;
  font-weight: 600;
  color: black;
}
.summary main hr {
  margin-top: 4vh;
  margin-bottom: 2vh;
  border: 1px solid hsl(240deg, 7%, 92%);
}
.summary .underx {
  margin-top: 3vh;
  padding-left: 2vw;
}
.summary .underx .right {
  float: right;
  color: hsl(243deg, 100%, 62%);
  font-size: 19px;
  font-weight: 600;
}
.summary footer {
  margin-top: 12vh;
}
.summary footer .back {
  text-decoration: none;
  color: hsl(231deg, 11%, 63%);
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.summary footer .next {
  float: right;
  background-color: hsl(213deg, 96%, 18%);
  text-decoration: none;
  font-size: 16px;
  color: white;
  padding: 2vh 2vw;
  border-radius: 0.7vw;
  cursor: pointer;
}
.summary footer .button:hover {
  opacity: 0.67;
}

.checkout {
  position: relative;
  right: 5vw;
  margin: 14vh 5vw;
  text-align: center;
}
.checkout h1 {
  margin: 3vh 0;
}
.checkout p {
  color: hsl(231deg, 11%, 63%);
}

@media screen and (max-width: 500px) {
  body {
    margin: 0 0;
    overflow-y: scroll;
    height: 80vh;
  }
  .App {
    flex-direction: column;
    background-color: inherit;
    padding: 0 0;
  }
  .App .home {
    width: 82vw;
    padding: 4vh 4vw;
    margin-left: 9vw;
    border-radius: 2vw;
    position: relative;
    bottom: 10vh;
    z-index: 1;
    background-color: white;
  }
  .App .home .hidden {
    position: absolute;
    bottom: -30vh;
    right: -10vw;
    display: block;
    height: 12vh;
    width: 100vw;
    background-color: white;
  }
  .App .home button {
    bottom: -26vh;
    font-size: 16px;
    border-radius: 2vw;
    z-index: 2;
  }
  .App .home section {
    margin-top: 2vh;
  }
  .App .side {
    background: url("./Components/images/bg-sidebar-mobile.svg");
    display: flex;
    flex-direction: row;
    height: 20vh;
    justify-content: center;
    width: 100vw;
    background-size: cover;
    border-radius: 0;
  }
  .App .side .number .aside {
    display: none;
  }
  .App .side .number .active {
    margin-right: 4.5vw;
    font-size: large;
  }
  .Select-plan {
    width: 82vw;
    border-radius: 2vw;
    height: 68vh;
    margin-left: 9vw;
    z-index: 1;
    position: relative;
    bottom: 6vh;
    background-color: white;
    padding: 4vh 6vw;
  }
  .Select-plan p {
    margin-bottom: 2vh;
  }
  .Select-plan main {
    flex-direction: column;
  }
  .Select-plan main .option {
    min-height: 11vh;
    margin-top: 1.5vh;
    width: inherit;
    border-radius: 2.2vw;
    position: relative;
    flex-direction: row;
  }
  .Select-plan main .option img {
    width: 11vw;
    margin-left: 2vw;
    margin-right: 1.5vw;
    margin-top: 0;
    height: 10vh;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .Select-plan main .option .big-text {
    margin-top: 1.4vh;
    position: static;
  }
  .Select-plan main .option span {
    position: absolute;
    left: 15vw;
    top: 5vh;
  }
  .Select-plan main .option .last {
    top: 8vh;
  }
  .Select-plan section {
    width: 55vw;
  }
  .Select-plan section .switch {
    width: 60vw;
    padding: 0.65vh 1.5vw;
    border-radius: 5vw;
  }
  .Select-plan footer {
    margin-top: 13vh;
    background-color: white;
    width: 100vw;
    position: absolute;
    left: -10vw;
    padding: 3vh 6vw;
    height: 8vh;
  }
  .Select-plan footer .next {
    position: relative;
    bottom: 1vh;
    padding: 1vh 2vw;
  }
  .add-ons {
    width: 82vw;
    border-radius: 2vw;
    height: 58vh;
    margin-left: 9vw;
    z-index: 1;
    position: relative;
    max-width: 100vh;
    bottom: 6vh;
    background-color: white;
    padding: 4vh 6vw;
  }
  .add-ons section div {
    padding-left: 12vw;
  }
  .add-ons section div .float {
    font-size: 14px;
    top: 2.5vh;
  }
  .add-ons section div .marker {
    border-radius: 1.2vw;
  }
  .add-ons section div .marker img {
    transform: translate(1vw, 0.22vh);
  }
  .add-ons #hidden {
    position: absolute;
    bottom: -20vh;
    right: -10vw;
    display: block;
    height: 12vh;
    width: 100vw;
    z-index: 1;
    background-color: white;
  }
  .add-ons footer {
    background-color: white;
    width: 100vw;
    position: absolute;
    z-index: 2;
    bottom: -24vh;
    left: -10vw;
    padding: 3vh 6vw;
    height: 8vh;
  }
  .add-ons footer .next {
    position: relative;
    bottom: 1vh;
    padding: 1vh 2vw;
  }
  .summary {
    width: 82vw;
    border-radius: 2vw;
    height: 58vh;
    margin-left: 9vw;
    z-index: 1;
    position: relative;
    bottom: 6vh;
    background-color: white;
    padding: 4vh 6vw;
  }
  .summary footer {
    background-color: white;
    width: 100vw;
    position: absolute;
    z-index: 2;
    bottom: -18vh;
    left: -10vw;
    padding: 3vh 6vw;
    height: 8vh;
  }
  .summary footer .next {
    position: relative;
    bottom: 1vh;
    padding: 1vh 2vw;
  }
  .checkout {
    width: 82vw;
    border-radius: 2vw;
    height: 58vh;
    margin-left: 13vw;
    z-index: 1;
    position: relative;
    bottom: 20vh;
    background-color: white;
    padding: 4vh 6vw;
  }
}/*# sourceMappingURL=App.css.map */